.container-fluid {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.username {
  font-size: 1.5rem;
  color: #6c757d;
  text-align: left;
}

.my-profile-title {
  font-size: 2rem; /* Title size adjustment */
  color: #343a40;
  text-align: left;
}

.custom-border {
  border: 1px solid #ddd; /* Custom border color */
  width: 35px; /* Adjust size as needed */
  height: 35px; /* Ensure width and height are the same */
  object-fit: cover; /* Ensures the image fills the box properly */
  display: block;
}

.custom-border-two {
  border: 1px solid #ddd; /* Custom border color */
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Ensure width and height are the same */
  object-fit: cover; /* Ensures the image fills the box properly */
  display: block;
}

.modal-container {
  position: absolute;
  top: 120%;
  left: -125px;
  width: 225px;
  background: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.250);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 100;
  
  /* Animation */
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeSlideIn 0.6s ease forwards;
}

@keyframes fadeSlideIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.modal-button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border: none; /* Removes the border */
  background: none; /* Removes background */
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #eee;
}

.modal-divider {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px 0;
}

.event-stats {
  font-size: 1rem;
  color: #6c757d;
}

/* Shadow effect */
.shadow-sm {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.99);
}

.bg-white {
  background-color: #fff;
}

.rounded {
  border-radius: 0.25rem;
}

/* Button styles */
.btn {
  font-size: 1rem; /* Adjust button text size */
}

/* Center the text within the columns */
.event-stats {
  font-size: 1rem;
  color: #6c757d;
}

/* Align text properly */
.text-center h4 {
  margin-bottom: 5px;
}

/* Additional class for aligning buttons */
.align-items-center {
  align-items: center;
}

/* Nav link */
.nav-link {
  text-transform: capitalize;
}

/* Active tab styles */
.nav-tabs .nav-item .nav-link.active {
  color: var(--bs-secondary) !important; /* If active, the color is Primary color */
}

/* Default (non-active) tab styles */
.nav-tabs .nav-item .nav-link {
  color: var(--bs-primary) !important; /* If not active, the color is Secondary color */
}

@media (max-width: 768px) {
  .profile-pic-new {
      width: 150px; /* Adjust size for mobile */
      height: 150px;
  }

  .username {
      font-size: 1.2rem; /* Adjust font size for mobile */
  }

  .my-profile-title {
      font-size: 1.5rem; /* Adjust title size for mobile */
  }

  .btn {
      font-size: 0.9rem; /* Adjust button text size for mobile */
  }
}
